# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db

# Virtual environment
venv/
env/

# Node.js
node_modules/

# React
build/
dist/

# IDE
.vscode/
.idea/

# Logs
*.log

# Compiled files
*.exe
*.dll
*.so
*.dylib

# Miscellaneous
.DS_Store
Thumbs.db