@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  font-family: roboto, sans-serif;
}

input, button, label {
  margin-top: 10px;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f2f2f2;
  color: #333;
  font-size: 16px;
  transition: border-color 0.3s ease;
  width: 100%;
  height: 40px;
}

input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

input::placeholder {
  color: #999;
}

label {
  color: #333;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

table tr:hover {
  background-color: #f9f9f9;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
  font-weight: bold;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

h2 {
  font-family: Arial, sans-serif;
  color: #333;
  text-align: center;
}
